body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #0a0f1f, #000);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 360px;
    text-align: center;
}

.title {
    font-size: 2.3rem;
    margin-bottom: 25px;
    text-shadow: 0 0 20px #3a7bff;
}

.box {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(80, 120, 255, 0.4);
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: rgba(80, 120, 255, 0.2);
    border: 1px solid #3a7bff;
    border-radius: 12px;
    color: #3a7bff;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background: rgba(80, 120, 255, 0.35);
    box-shadow: 0 0 12px #3a7bff;
}

.rememberBox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #c9b8ff;
}

.rememberBox input {
    width: 16px;
    height: 16px;
}