body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #060b18, #000);
    color: white;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 25px;
    text-shadow: 0 0 20px #3a7bff;
}

textarea {
    width: 100%;
    height: 120px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(60,120,255,0.4);
    backdrop-filter: blur(10px);
    color: white;
    padding: 12px;
    border-radius: 12px;
    outline: none;
    margin-bottom: 15px;
    resize: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: rgba(60,120,255,0.2);
    border: 1px solid #3a7bff;
    border-radius: 12px;
    color: #3a7bff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn:hover {
    background: rgba(60,120,255,0.35);
    box-shadow: 0 0 15px #3a7bff;
}

.notesList {
    text-align: left;
}

.noteCard {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(100,150,255,0.4);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    backdrop-filter: blur(10px);
}

.noteTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 0.9rem;
}

.deleteBtn {
    color: #ff4d4d;
    cursor: pointer;
    font-weight: bold;
}

.deleteBtn:hover {
    text-shadow: 0 0 10px #ff4d4d;
}

.back {
    margin-top: 20px;
    padding: 12px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    border: 1px solid #555;
    color: #ccc;
}